body
{
    background: url(/../maderas/css/wood_background.jpg) no-repeat fixed 100% 50%;
}

.fa-shopping-cart {
  color: white;
}

#carritoIcon{
  font-size: 24px;
}

#tituloPagina{
  font-size: 56px;
}

#categoria_0{
  background-color: #966F33;
}

.woodbar{
  background: url("/../maderas/css/wood_bar.jpg") top center repeat-y;
background-size: 100%;
-moz-background-size: 100%;
  -o-background-size: 100%;
 -webkit-background-size: 100%;
   -khtml-background-size: 100%;
}

.goldenwood{
  background: url("/../maderas/css/light_vertical_wood.jpg") top center repeat-y;
background-size: 100%;
-moz-background-size: 100%;
  -o-background-size: 100%;
 -webkit-background-size: 100%;
   -khtml-background-size: 100%;
}

.darkwood{
  background: black url("/../maderas/css/wood_log.png") top center repeat-y;
background-size: 100%;
-moz-background-size: 100%;
  -o-background-size: 100%;
 -webkit-background-size: 100%;
   -khtml-background-size: 100%;
}
#footer p{
  font-size: 16px;
  font-weight: bold;
  color:#fff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
  color:#FFF;
}
.list-group-item.active{
  background: #233936;
  border-color:#233936;
}
a{
  color:#0500ff;
  font-weight: bold;
  font-size: 16px;
}

.fa-external-link{
  color:#0500ff;
}

.descuento{
  color:#c92222;
  font-weight: bold;
  font-size: 16px;
}

table{
  color:white;
  font-weight: bold;
  font-size: 16px;
}

.precioFinal{
  color:white;
  font-weight: bold;
  font-size: 16px;
}
p{
  color: white;
  font-weight: bold;
  font-size: 16px;
}

h2 {
    color: #fff;
    background: #233936;
    padding: 4px;
    margin-left: 16px;
    margin-right: 16px;
}
.thumbnail{
  background-color: #fff;
  height: 400px;
}
.thumbnail a > img, .thumbnail > img {

    max-height: 200px;
}
@media (max-width: 769px) {
  .thumbnail {
    height: auto;
  }
}
